[Desktop Entry]
Version=1.0
Name=Usb Key Login Application
Name[tr]=Usb Anahtar Uygulaması
Type=Application
Comment=Login Manager Application
Comment[tr]=Giriş Yönetimi Uygulaması
Terminal=false
Exec=sh -c "pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY usbkeycreatergui"
Icon=/usr/share/icons/usbkeycreater.svg
Categories=Qt;Utility;
Keywords=usb;key;
Name[en_EN]=UsbKeyCreater
Name[tr_TR]=UsbAnahtarOluşturma
