#bayram KARAHAN bayramk@gmail.com

[Desktop Entry]
Exec=sh -c "/usr/bin/setmountusbdisklink.sh"
Type=Application
Name[tr_TR]=setmountusbdisklink.desktop
