Source: usbkeycreaterusers
Section: utils
Priority: optional
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Build-Depends: debhelper (>= 9), 
    libudev-dev,
    libcrypt-dev,
    libssl-dev,
    libcurl4-openssl-dev
Standards-Version: 3.9.8
Homepage: http://bayramkarahanblogspot.com

Package: usbkeycreaterusers
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
	libqt5core5a,
    	libqt5gui5,
    	libqt5widgets5,
    	libudev0,
    	libudev1,
    	libcrypt1,
    	libssl3,
    	libcurl4
Description: Usb Anahtar Uygulaması
