Source: usbkeycreater
Section: utils
Priority: optional
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Build-Depends: debhelper (>= 9), 
    libc6,
    libgcc1,
    libgcc-12-dev,
    libgl1-mesa-glx | libgl1,
    libqt5core5a,
    libqt5gui5,
    libqt5network5,
    libqt5qml5,
    libqt5svg5-dev,
    libqt5widgets5,
    libstdc++6,
    libudev-dev,
    libcrypt-dev,
    libssl-dev
Standards-Version: 3.9.8
Homepage: http://bayramkarahanblogspot.com

Package: usbkeycreater
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
        libqt5xml5,
	libqt5core5a,
    	libqt5gui5,
    	libqt5network5,
    	libqt5svg5-dev,
    	libqt5widgets5,
    	libstdc++6,
	libqt5widgets5,
    	libudev-dev,
    	libcrypt-dev,
    	libssl-dev
Description: Usb Anahtar Uygulaması
